<%- include('./partials/head'); -%>
<%- include('./partials/nav'); -%>

    <!-- <div class="container contact-clean"> -->
    <!--     <form method="post" action=""> -->
    <!--         <h2 class="text-center">Contact us</h2> -->
    <!--         <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name"></div> -->
    <!--         <div class="form-group"><input class="form-control is-invalid" type="email" name="email" placeholder="Email"><small class="form-text text-danger">Please enter a correct email address.</small></div> -->
    <!--         <div class="form-group"><textarea class="form-control" name="message" placeholder="Message" rows="14"></textarea></div> -->
    <!--         <div class="form-group"><button class="btn btn-primary" type="submit">send </button></div> -->
    <!--     </form> -->
    <!-- </div> -->
<div class="login-clean">
        <h1 class="text-center">contact us</h1>
        <section id="contact" style="padding:40px;padding-right:5px;padding-left:4px;">
            <div class="col-md-6" style="padding-left:20px;padding-right:20px;">
                <fieldset></fieldset>
                <legend>Our contact info:</legend>
                <p></p>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><i class="fa fa-building"></i></td>
                                <td>KvK: 58314687, BTW:&nbsp;NL223674965B01</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-map-marker"></i></td>
                                <td>لمنطقة الشرقية - مدينة الأحساء ص.ب 380 الرمز البريدى 31982<br></td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-phone"></i></td>
                                <td><a href="tel://920002366-8003030308">920002366 - 8003030308</a><br></td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-envelope"></i></td>
                                <td><a href="https://www.kfu.edu.sa/ar/Documents/map/INFO@KFU.EDU.SA">INFO@KFU.EDU.SA</a><br></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <section id="contact" style="padding:40px;padding-right:5px;padding-left:4px;"></section>
        </section>
        <section id="model-details"><i class="icon ion-android-microphone"></i></section>
    </div>


<%# CONTENT ENDS HERE  #%>
<%- include('./partials/footer'); -%>
<%- include('./partials/scripts.ejs'); -%>
