<%- include('./partials/head'); -%>
<%- include('./partials/nav'); -%>

<%# CONTENT STARTS HERE  #%>
    <div class="article-clean" style="background-color: #4aabc1;">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-center">Cooperative Training</h1><img class="img-fluid" src="/img/معلومات-عن-جامعة-الملك-فيصل-بنات.jpg"></div>
                    <div class="text">
                        <p>The period of the cooperative training is 8 weeks within the summer vacation and the registered students in the faculty scientific departments, are benefited from. During this period the students will be hosted in companies, institutions
                            and research centers which are likely to join them for work after graduation.&nbsp;After the training period, students complete the training requirements of the cooperative training, which are represented in submitting a report
                            of the accomplishments and benefits achieved during the training, such report will be displayed through a panel discussion in the section registered in within the first two months of the first semester.</p>
                        <figure></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-basic">

<%# CONTENT ENDS HERE  #%>
<%- include('./partials/footer'); -%>
<%- include('./partials/scripts.ejs'); -%>
